.doneBtn{
    width: 20vw;
    left: 40vw;
    position: relative;
    margin: .15rem;
}
.input{
    width: 90vw;
    position: relative;
    left: 5vw;
    margin: .15rem;
}
.inptErr{
    border: 2px solid red;
}
.span{
    display: block;
}