body{
  font-family: 'Nunito', sans-serif;
  min-width: 350px;
  margin: 0;
  padding: 0;
}
.sRow{
  padding: 3px;
  border: 3px solid cadetblue;
}
.row{
  padding: 5px;
  border: 2px solid darkgrey;
}
.infoBtn{
  border: none;
  background: none;
  outline: none;
  font-size: 1.3em;
}
.infoBtn:hover{
  color: darkgray;
}
.infoBtn:active{
  color: rgb(37, 209, 22);
}
.infoSpan{
  display: block;
}
.searchBar{
  font-size: 1.2rem;
  border: none;
  outline: none;
  width: 80%;
}
span{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
